@use "@/styles/variables.scss" as *;
@use "sass:color";

.home-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  animation: fadeIn 1s ease-in-out;

  // Hero Bölümü
  .hero-section {
    text-align: center;
    background: linear-gradient(135deg, $primary-color, $secondary-color); 
    color: $white;
    padding: 60px 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;

    h1 {
      font-size: 2.5rem;
      font-weight: bold;
      letter-spacing: 1px;
    }

    p {
      font-size: 1.2rem;
      margin-top: 10px;
    }

    &:hover {
      transform: scale(1.02);
    }
  }

  // Butonlar
  button {
    background: $primary-color; 
    color: $white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;

    &:hover {
      color: color.adjust($text-color, $lightness: 15%);
      transform: scale(1.05);
    }

    &.clear-filters {
      background: $danger; 

      &:hover {
        background: $danger-dark; 
      }
    }
  }


}

// Animasyonlar
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



// Mobil uyumluluk
@media (max-width: 768px) {
  .home-page {
    padding: 15px;

    .filters,
    .sort-options {
      flex-direction: column;
      align-items: stretch;
    }

    .book-list {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
}