@use "@/styles/variables.scss" as *;
@use "sass:color";

.home-page {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;

  .hero-section {
    text-align: center;
    color: $background-dark;
    padding: 60px 20px;
    margin-bottom: 1rem;
    border-radius: 20px;
    box-shadow: 0 10px 30px $box-shadow-dark;

    h1 {
      font-size: 3rem;
      font-weight: bold;
      letter-spacing: 1.5px;
    }

    p {
      font-size: 1.25rem;
      margin-top: 10px;
    }

    .cta-button {
      margin-top: 20px;
      padding: 12px 30px;
      font-size: 1.2rem;
      font-weight: 600;
      color: $white;
      background-color:cadetblue;
      border: none;
      border-radius: 30px;
      transition: background-color 0.3s ease;
      cursor: pointer;


      &:hover {
        background-color: darken($gold, 10%);
      }
    }
    
    
  }

  .book-carousel {
    margin-bottom: 30px;
  }

}


