@use 'variables' as *;

body, .navbar, .header, .footer, .theme-btn {
  transition: background-color $transition-speed ease-in-out, color $transition-speed ease-in-out;
}

// Açık/Karanlık mod değişkenleri
:root {
  --primary-bg-color: #{$background-light}; 
  --primary-text-color: #{$text-color-light}; 
  --header-bg-color: #{$primary-color};
  --card-bg-color: #{$white}; 
  --card-text-color: #{$text-color-light};
  --navbar-bg-color: #{$navbar-bg-light};  
  --footer-bg-color: #{$footer-bg-light};  
  --navbar-text-color: #{$text-color-light};
  --footer-text-color: #{$text-color-light};
}

body.dark-mode {
  --primary-bg-color: #{$gray-dark}; 
  --primary-text-color: #{$text-color-dark}; 
  --header-bg-color: #{$header-dark};
  --card-bg-color: #{$gray-dark}; 
  --card-text-color: #{$text-color-dark}; 
  --navbar-bg-color: #{$navbar-bg-dark}; 
  --footer-bg-color: #{$footer-bg-dark}; 
  --navbar-text-color: #{$text-color-dark};
  --footer-text-color: #{$text-color-dark};
}

body {
  background-color: var(--navbar-bg-color);
  color: var(--primary-text-color);
}

.navbar {
  background-color: var(--navbar-bg-color);  
  color: var(--navbar-text-color);

  a, span, i {
    color: var(--navbar-text-color);
    transition: color $transition-speed ease-in-out;
  }
}

.footer {
  background-color: var(--footer-bg-color);  
  color: var(--footer-text-color);

  a, span, i {
    color: var(--footer-text-color);
    transition: color $transition-speed ease-in-out;
  }
}
body.dark-mode .navbar a:hover,
body.dark-mode .footer a:hover {
  filter: brightness(1.2);
}
